body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
     background: #FF5733;
     color: #fff;
    padding: 1em 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li a {
    display: inline;
    margin: 0 15 px;
}
 